.title{
  color: white;
  font-family: 'Lobster', cursive;
}
.nav-tab{
  color: white;
  font-family: 'Lobster', cursive;

}
a a{
  color: white;
}
.active{
  color: #3AC4F0;
}
hr{
	color: black;
	width: 70%;
}
.greeting{
  font-size: 10.0vh;
  font-family: 'VT323', monospace;
  position: absolute;
	margin: 0;
	padding: 0;
	top:200px;
	left: 0;
	height: 100vh;
	width: 100%;
  text-align: center;
}
.menu-down{
  background-color: white;
  border: none;
}


.aboutMe{
  font-family: 'VT323', monospace;
  background-color: #3ac4f0;
  height: 400px;
  width: 100%;
}
.aboutMe33{
  font-family: 'VT323', monospace;
  background-color: #3ac4f0;
  height: 100vh;
  width: 100%;
  padding-top: 40px;
}

h1{
  font-family: 'VT323', monospace;
  text-align: center;
}
.about-me{
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 10.0vh;

}
p{
  font-family: 'Roboto', sans-serif;  color: black;
  color: white;
}
.para-me{
  font-family: 'Roboto', sans-serif;  color: black;
  color: white;
  font-size: 2vh;
}

.pictureOfMe{
  background-color:#0981bb;
  height: 400px;
  width: 100%;
}
#me{
  height: 75%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 50%;

}
#me33{
  height: 30.0vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  border-radius: 50%;
  max-width: 90vw;

}
.whatIKnow{
  font-family: 'VT323', monospace;
  color: black;
  background-color: #0981bb;
  height: 500px;
  width: 100%;
}
.whatIKnow2{
  font-family: 'VT323', monospace;
  color: black;
  background-color: #0981bb;
  height: 110vh;
  width: 50%;
}
.whatIAmLearning{
  font-family: 'VT323', monospace;
  background-color: #3ac4f0;
  height: 500px;
  width: 100%;
}
.whatIAmLearning2{
  font-family: 'VT323', monospace;
  background-color: #3ac4f0;
  height: 110vh;
  width: 50%;
}
.skill-title{
  font-size: 40px;
  text-align: center;
}
.skill-title2{
  font-size: 100px;
  text-align: center;
  padding-top: 15%;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.icon-grid{
  font-size: 70px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-left: 50px;
  padding-top: 50px;

}
.icon-grid2{
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-left: 10px;

}
.skill-description{
  padding-top: 4.5vh;
  height: 100%
}
.skill-description2{
  padding-top: 4.5vh;
}
.portfolio{
  height: 100%;
  width: 100%;
  background-color: black;
}
#portfolio-title-text{
  font-size: 1.5vh;
}
.portfolio2{
  height: 200px;
  width: 100%;
  margin-top: 200px;
}
#portfolio-title{
  font-family: 'Roboto', sans-serif;  color: black;
  color: white;
}
#portfolio-title2{
  font-family: 'VT323', monospace;
  color: black;
  font-size: 100px;
}

.project1{
  height: 100%;
  width: 50%;
  background-color: #3ac4f0;
}
.project2{
  height: 100%;
  width: 50%;
  background-color: #0981bb;

}
#project1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 20.0vh;

}
#project2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 20.0vh;


}
.project-description{
  padding-top: 20px;
}
.contact-info{
  height: 20vh;
  color: black;
}
.contact-text{

}
.contact-text2{
padding-top: 30vh;
}
#who-stole{
  height: 50vh;
  width: 75vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
